# Task 1

Sum of Digits

Write a function sum_of_digits(n) that takes a positive integer and returns the sum of its digits.

Example: sum_of_digits(123) → 6

In [21]:
def sum_of_digits(numbers):
    total = 0 ## initial output is set to zero
    for i in numbers: # iterate using the index across the list
        total += i # add each after a single iteration to the previous one.
    return total #return the output after iterating and adding through the list.

In [23]:
sum_of_digits([5,9,12,54,21])

101

# Task 2
Find Duplicates

Create a function find_duplicates(numbers) that returns a list of duplicate numbers from a given list.

Example: find_duplicates([1, 2, 3, 2, 4, 5, 4]) → [2, 4]

In [66]:
def find_duplicates(numbers):
    Iterated_num = set() #create an empty set to keep all the numbers seen after each  iteration
    dup = set() # set where all the duplicates will be stored as a set

    for num in numbers: #start the iteration first through the main list and add them to the iterated set in the frst iteration
        if num in Iterated_num: # if the numbers are in the already iterated set, it means it is duplicate, add to the duplicate list.
            dup.add(num)
        else:
            Iterated_num.add(num) #else add to the iterated list and print the duplicate set as a list.

    print("Here is the list of repeated numbers", list(dup))

In [68]:
find_duplicates([1, 2, 13, 4,5 ,2,1,2, 5,6, 10, 6, 7])

Here is the list of repeated numbers [1, 2, 5, 6]

# Task 3
Count Occurrences of a Word

Write a function count_word_occurrences(sentence, word) that counts how many times a given word appears in a sentence.

Example: count_word_occurrences("apple banana apple", "apple") → 2

In [42]:
def count_word_occurrences(sentence, word):
    # Convert sentence and word to lowercase for case-insensitive matching
    sentence = sentence.lower()
    word = word.lower()

    # Split the sentence into words and count occurrences of the word
    words = sentence.split()
    return words.count(word)

In [52]:
count_word_occurrences("The Nose of the boy is so wiled and harsh","the")

2

# Task 4
Convert Celsius to Fahrenheit

Define a function celsius_to_fahrenheit(celsius) that converts a temperature from Celsius to Fahrenheit.

Formula: (celsius * 9/5) + 32

In [137]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    print(f"When you convert {celsius}°C, you will have {fahrenheit}°F")

In [141]:
celsius_to_fahrenheit(45)

When you convert 45°C, you will have 113.0°F

# Task 5
Find Common Elements

Write a function common_elements(list1, list2) that takes two lists and returns a new list containing elements common to both.

Example: common_elements([1, 2, 3], [3, 4, 5]) → [3]

In [84]:
def common_elements(list1, list2):
    return list(set(list1) & set(list2)) #use a set to find the intercept of the both list.

In [127]:
list1 = [12, 6, 3, 4, 5] #create the two different list and use the function decleared above to find the common element.
list2 = [3, 4, 6, 6, 12]

In [129]:
common_elements(list1, list2)

[3, 4, 12, 6]

# Task 6
Remove Duplicates

Create a function  remove_duplicates(numbers)  that removes duplicate numbers from a list and returns a list of unique elements.

In [92]:
def remove_duplicates(numbers):
    # Since we know that a set does not allow for duplicates, we first convert the list to a set and then back to a list.
    return list(set(numbers))

In [125]:
remove_duplicates([11, 12, 12, 30, 42, 42, 15])

[42, 11, 12, 15, 30]

# Task 7
Longest Word in a Sentence

Write a function longest_word(sentence) that finds and returns the longest word in a given sentence.

In [96]:
def longest_word(sentence):
    #  You will first split the sentence into words
    words = sentence.split()
    
    # Find the longest word using the max function with key=len
    longest = max(words, key=len)
    
    return longest

In [100]:
longest_word("I am training to become a Data Analyst")

'training'

# Task  8
Sum of Squares

Create a function sum_of_squares(numbers) that returns the sum of the squares of all numbers in a list.
Example: sum_of_squares([1, 2, 3]) → 14

In [112]:
def sum_of_squares(numbers):
    # Use list comprehension to square each number and sum them
    return sum([num ** 2 for num in numbers])

In [116]:
sum_of_squares([4, 6, 3, 4])

77

# Task 9
Find Factorials for a List of Numbers

Write a function list_factorials(numbers) that takes a list of integers and returns a list of their factorials.

In [119]:
import math

def list_factorials(numbers):
    # Use list comprehension to calculate factorial for each number
    return [math.factorial(num) for num in numbers]

In [123]:
list_factorials([6, 4, 3, 4, 5])

[720, 24, 6, 24, 120]

# Task 10
Title Case a Sentence

Define a function title_case(sentence) that converts a sentence so that the first letter of each word is capitalized.
Example: title_case("hello world") → "Hello World"

In [144]:
def title_case(sentence):
    # Use the str.title() method to capitalize the first letter of each word
    return sentence.title()

In [148]:
title_case("We are learning how to write python codes in this class.")

'We Are Learning How To Write Python Codes In This Class.'